body{
    background-color: rgba(20, 121, 255, 0.1);
}
.container{
    display: flex;
}
.fixed{
    width: 45%;
}
.flex-item{
    flex-grow: 1;
}
div#user-info, div#patient-info{
    width: 400px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    padding: 10px;
    margin-left: 10%;
    margin-top: 10px;
}
div.input-box{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}
div.input-box label{
    text-align: left;
    display: inline-block;
    min-width: 100px;
    margin: 10px 10px 10px 0;
    width: 20%;
}
div.input-box input{
    font-size: 1.5 rem;
    /* border: 1px solid #ccc; */
    padding: 4px 8px;
    flex: 1;
}
@media only screen and (max-width: 768px) {
    .container{
        display: inline-block;
        text-align: center;
    }
    .fixed{
        width: 50%;
    }
    .flex-item{
        width: 50%;
    } 
}
