/* calendar */
.calendar {
    width: 100%;
    height: 90%;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    color: #d6e9c6;
  }
  
  .month {
    width: 100%;
    height: 4rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .month h1 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .month p {
    font-size: 12px;
  }
  
  .weekdays, .hebWeekdays {
    width: 100%;
    height: 2rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }

  .weekdays div, .hebWeekdays div {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1rem;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .hebWeekdays{
    margin-left: 10px;
  }
  
  .days, .hebDays {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .days div, .hebDays div {
    font-size: 12px;
    
    width: calc(96% / 7);
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today), .hebDays div:hover:not(.today){
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #167e56;
  }
